.contactPage {
  height: 100vh;
  margin-top: 180px;
  background-image: url(../../assets/images/mariocard.png);
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 50px;
}

.contact-wrapper {
  width: 95% !important;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.peachcar {
  position: absolute;
  /* position: fixed;  */
  width: 200px !important;
  bottom: 0px;
  left: 10%;
  z-index: 5;
}

.glass-container {
  box-shadow: 0 5px 15px rgba(179, 179, 179, 0.5);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.74);
  padding: 20px !important;
  z-index: 3;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .glass-container {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
  }
}

.contact-header-container {
  margin-bottom: 100px;
}

.contact-header {
  font-size: 60px !important;
  border-bottom: solid 4px #ffb20a;
  font-family: 'NewSuperMarioFontU';
}

.header-contact-icon {
  font-family: 'NewSuperMarioFontU';
}

label {
  font-size: 20px !important;
  padding-top: 20px;
}

form {
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.form-btn {
  margin-top: 20px;
}

.error-text {
  color: red;
}

.form-container {
  width: 50%;
}

p {
  font-size: 20px !important;
}

.contact-icon {
  transition: 0.3s;
}

.contact-icon1 {
  color: rgb(92, 115, 192)!important;
}

.contact-icon2 {
  color: rgb(250, 220, 51)!important;
}

.contact-icon3 {
  color: rgb(255, 71, 46)!important;
}

.contact-icon:hover {
  color: #ffb20a !important;
}

.container-contact-icons {
  padding-top: 20px;
}

@media (max-width: 1250px) {
  .form-container {
    width: 80%;
  }
}

@media (max-width: 500px) {
  p {
    font-size: 14px !important;
  }
}
